.map-note {
  margin-top: 10px;
}

.bannerimage {
  width: 100%;
}

.text-muted {
  /*color: #27414F;*/
  /*color: #37627b;*/
}

.ava-pengantin {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}

.ava-parent {
  border-radius: 50%;
  margin: 10px;
  width: 200px;
  height: 200px;
}

.ava-testi {
  border-radius: 50%;
  margin: 10px;
  margin-top: 26px;
  width: 64px;
  height: 64px;
  opacity: 0.4;
  -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.slick-center .ava-testi {
  border-radius: 50%;
  margin: 10px;
  width: 100px;
  height: 100px;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
}

.icon-timer {
  width: 50%;
  height: 50%;
  border-radius: 75%;
}

section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.timer {
  margin-bottom: 80px;
}

.timeline-image {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  z-index: 3;
}

header {
  /*background-image: url('../img/banner3.jpg');*/
  /*float: left;*/
}

.defaultbg {
  background-color: #212F30;
}

hr {
  color: #212F30;
  background-color: #212F30;
  border-color: #212F30;
}

.behindWrapper {
  position: relative;
  top: -720px;
  z-index: 3;
}

.behindImage {
  display: block;
}

.front {
  display: block;
  z-index: 5;
}

.parallax {

}

.testimoni
{
  width: 100%;
}

.testi-item {
  float : left;
}

.clearboth {
  clear: both;
}

.testi-container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.img-testimoni
{
  width: 64px;
  height: 64px;
}

.testi-user
{
  width: 100px;
}

.testi-text {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  /*max-height: 200px;
  overflow: hidden;
  -o-text-overflow : ellipsis;
  text-overflow: ellipsis;*/
}

.testi-title {
  margin-left: 20px;
  margin-top: 14px;
}

.testi-divider {
  color: gray;
  width: 100%;
  height: 2px;
}

.map {
  height: 500px;
}

/*.rusuh {
  vertical-align: middle;
  display: table-cell;
  height: 100px;
}*/

#buzzez {
  padding-bottom: 40px;
}

.rusuh-content {
  padding-left: 40px;
  padding-right: 40px;
}

@media (min-width: 1100px) {
  .parallax {

      /* Set a specific height */
      /*height: 720px;*/
      height: 100%;

      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
}

@media (max-width: 1000px) {

  .ava-parent {
    border-radius: 50%;
    margin: 10px;
    width: 160px;
    height: 160px;
  }

}

@media (max-width: 640px) {
  .map {
    height: 200px;
  }

  .ava-testi {
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
  }

  .slick-center .ava-testi {
    border-radius: 50%;
    margin: 10px;
    width: 64px;
    height: 64px;
  }

  .ava-pengantin {
    border-radius: 50%;
    width: 140px;
    height: 140px;
  }

  .ava-parent {
    border-radius: 50%;
    margin: 10px;
    width: 140px;
    height: 140px;
  }
}

@media (max-width: 320px) {

  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .rusuh-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ava-testi {
    border-radius: 50%;
    margin: 10px;
    width: 40px;
    height: 40px;
  }

  .slick-center .ava-testi {
    border-radius: 50%;
    margin: 10px;
    width: 64px;
    height: 64px;
  }

  .ava-pengantin {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .ava-parent {
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    height: 100px;
  }
}

.testi-card {
  /*background-color: gray;*/
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.card-image {
  top: -40px;
  position: relative;
  border-color: gray;
  border-width: 7px;
}

.card-name {
  z-index: 1;
  background-color: red;
  top: 20px;
  position: relative;
}

.buzzes {
  /*height: 200px;*/
  padding-top: 40px;
  padding-bottom: 0px;
}

@media (min-height: 400px) {
  .buzzes {
    /*height: 490px;*/
    /*background-color: red;*/
  }

  .buzzes .slider {
    /*height: 200px;*/
    /*background-color: blue;*/
  }

  .buzzes .thumbnails {
    overflow-y: scroll;
    height: 130px;
    background-color: red;
  }
}

@media (min-height: 600px) {
  .buzzes {
    /*height: 690px;*/
    /*background-color: green;*/
  }

  .buzzes .slider {
    /*height: 320px;*/
    /*background-color: blue;*/
  }

  .buzzes .thumbnails {
    overflow-y: scroll;
    height: 210px;
    background-color: red;
  }
}

@media (min-height: 960px) {
  .buzzes {
    /*height: 960px;*/
    /*background-color: blue;*/
  }

  .buzzes .slider {
    /*height: 440px;*/
    /*background-color: blue;*/
  }

  .buzzes .thumbnails {
    overflow-y: scroll;
    height: 360px;
    background-color: red;
  }
}

@media (min-height: 1136px) {
  .buzzes {
    /*height: 1136px;*/
    /*background-color: yellow;*/
  }

  .buzzes .slider {
    /*height: 528px;*/
    /*background-color: blue;*/
  }

  .buzzes .thumbnails {
    overflow-y: scroll;
    height: 448px;
    background-color: red;
  }
}

.slider-content {
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

.slider-content .wrapper {
  height: 200px;
  display: table-cell;
  vertical-align: middle;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
